.curseclient
/logs
/saves
/crash-reports
/.mixin.out
/downloads
minecraftinstance.json
o_prof
.qmenu_opened.marker
/mods

/kubejs/exported
options.txt
reauth.toml
rhino.local.properties
/schematics
/local/
/simplebackups/
/XaeroWaypoints*/
/XaeroWorldMap/
usercache.json
usernamecache.json
patchouli_data.json
/modernfix/
/localconfigs
/fancymenu*
/shaderpacks
/patchouli_books
/ESM
/everbook